<% content_for :title do %>Results <% end %>
<% @visitors = Visitor.all %>

<table class="table-striped table-bordered table-responsive">
  <tr>
    <th>Favorite Destinations:</th>
    <th>Comments: </th>
  </tr>

<% @visitors.each do |visitor| %>
  <tr>
    <td><%= visitor.favorite %></td>
    <td><%= visitor.comment %></td>
  </tr>

<% end %>
</table>