<% content_for :title do %>Results <% end %>
<% @visitors = Visitor.all %>
<div class = "page-header">
  <h1>Visitor Favorites</h1>
</div>
<table class=" table table-striped " >
  <thead>
  <tr>
    <th>ID:</th>
    <th>Favorite Destinations:</th>
    <th>Comments: </th>
  </tr>
  </thead>
<tbody>
<% @visitors.each do |visitor| %>
  <tr>
    <td><%= visitor.id %></td>
    <td><%= visitor.favorite %></td>
    <td><%= visitor.comment %></td>
  </tr>

<% end %>
</tbody>
</table>